{% extends 'base.html.twig' %}

{% block body %}

    <!-- Header -->
    <header id="head">
        <div class="container">

            <div class="row align-items-center" >
                <div class="col">
                    <h1 class="lead">ASSURANCE AUTO</h1>
                    <p class="slogan">Assurez-vous chez le Hibou !</p>

                    <img id="voiture" src="../../public/assets/images/voiture_vecto.png" alt="picto voiture">
                    <p> <a class="btn btn-action btn-lg" role="button" href ="">Je calcule mon devis</a></p>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->

{% endblock %}