#head { 
    background : url( ../images/shutterstock_641151544.jpg) no-repeat;
    background-size:cover; 
    min-height:765px; 
    text-align: center; padding-top:150px;
    color:#d30153; 
    font-family:"Open sans", Helvetica, Arial; 
    font-weight:600; 
    }

.pub
    {
    position:absolute;
    left: 0;
    bottom:15%;
    margin: 0;
    float: left;
    padding:0;
    }